<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NClass.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NClass.GUI.Properties.Settings>
            <setting name="WindowPosition" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>770, 550</value>
            </setting>
            <setting name="IsWindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StandardToolBarLocation" serializeAs="String">
                <value>3, 24</value>
            </setting>
            <setting name="ElementsToolBarLocation" serializeAs="String">
                <value>257, 24</value>
            </setting>
            <setting name="TypeDetailsToolBarLocation" serializeAs="String">
                <value>3, 49</value>
            </setting>
            <setting name="StandardToolBarPosition" serializeAs="String">
                <value>Top</value>
            </setting>
            <setting name="ElementsToolBarPosition" serializeAs="String">
                <value>Top</value>
            </setting>
            <setting name="TypeDetailsToolBarPosition" serializeAs="String">
                <value>Top</value>
            </setting>
        </NClass.GUI.Properties.Settings>
        <GUI.Properties.Settings>
            <setting name="WindowPosition" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>700, 500</value>
            </setting>
            <setting name="IsWindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StandardToolBarLocation" serializeAs="String">
                <value>3, 24</value>
            </setting>
            <setting name="ElementsToolBarLocation" serializeAs="String">
                <value>257, 24</value>
            </setting>
            <setting name="TypeDetailsToolBarLocation" serializeAs="String">
                <value>3, 49</value>
            </setting>
            <setting name="StandardToolBarPosition" serializeAs="String">
                <value>Top</value>
            </setting>
            <setting name="ElementsToolBarPosition" serializeAs="String">
                <value>Top</value>
            </setting>
            <setting name="TypeDetailsToolBarPosition" serializeAs="String">
                <value>Top</value>
            </setting>
        </GUI.Properties.Settings>
    </userSettings>
</configuration>